# ***gmonitor.service***
[Unit]
Description=Gnu-Monitor
After=network.target mysql.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/gmond start
ExecStop=/usr/local/sbin/gmond stop
User=root
WorkingDirectory=/var/lib/gmonitor
Restart=on-abort
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
